extends layout

block content
  h1= title
  - var results = [{"OrnamentType":"Gold","OrnamentCost":500,"OrnamentStrength":"High"},{"OrnamentType":"Platinum","OrnamentCost":700,"OrnamentStrength":"good"},{"OrnamentType":"Diamond","OrnamentCost":1000,"OrnamentStrength":"veryStrong"}];
  div(class="container-fluid")
    div(class="row")
    each item in results
      div(class="col-sm-2" width="215px") Ornament Type:#{item.OrnamentType}, Ornament Cost:#{item.OrnamentCost}, Ornament Strength:#{item.OrnamentStrength}